Debug/
	
NewProject_OpenCV.vcxproj
	
NewProject_OpenCV.vcxproj.filters
	
NewProject_OpenCV.vcxproj.user

opencv_project_test.vcxproj

opencv_project_test.vcxproj.filters

opencv_project_test.vcxproj.user
	
OPENCV_DEBUG.props
	
OPENCV_RELEASE.props
	
Release/
	
lala.mov
	
x64/

frames/

resultOfPanoramaOpenCV.jpg

